{% extends 'base.html.twig' %}

{% block title %}Log in !{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
<div class="mb-3">
    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% endif %}

<div class="w-full sm:max-w-md rounded-lg bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
    
    <div class="p-6">

        <form method="post">
    
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-2">Please sign in</h1>

            <div class="mb-2">
                <label for="username" class="font-bold text-black dark:text-white">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control w-full px-5 py-4 text-black/80 rounded-lg mt-2 bg-neutral-200 dark:bg-zinc-700 border border-gray-300 text-black dark:text-white" autocomplete="email" required autofocus />
            </div>

            <div class="mb-2 relative">
                <label for="password" class="font-bold text-black dark:text-white">Password</label>
                <svg id="show-password" class="cursor-pointer absolute top-0 right-0 w-5 h-5 mr-2 fill-black dark:fill-white hover:fill-indigo-800 dark:hover:fill-indigo-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
                </svg>
                <input type="password" name="_password" id="password" class="form-control w-full px-5 py-4 text-black/80 rounded-lg mt-2 bg-neutral-200 dark:bg-zinc-700 border border-gray-300 text-black dark:text-white" autocomplete="current-password" required>
            </div>

            <div class="hidden">
                <label for="email_confirm">Email confirm</label>
                <input type="text" id="email_confirm" name="email_confirm" value="">
            </div>

            <div class="checkbox mb-2">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
    
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

            <button class="w-full my-2 text-white dark:text-black bg-indigo-800 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-800 dark:bg-indigo-200 dark:hover:bg-indigo-400 dark:focus:ring-indigo-200 font-medium rounded-lg text-sm px-5 py-3 text-center" type="submit">
                Sign in
            </button>

        </form>
        
        <div class="flex items-center justify-center dark:bg-gray-800 py-3">
            <button class="w-full px-4 py-2 border flex justify-center gap-2 border-zinc-700 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
                <img loading="lazy" class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
                <a href="{{ path('connect_google') }}">Login with Google</a>
            </button>
        </div>
        
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">Don't have an account ? <a href="{{ path('app_register') }}" class="font-medium text-indigo-800 hover:underline dark:text-indigo-200">Sign up</a></p>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400"><a href="{{ path('app_forgot_password_request') }}" class="font-medium text-indigo-800 hover:underline dark:text-indigo-200">Forgot password ?</a></p>
        
    </div>

</div>

<script>
    const password = document.getElementById('password');
    const showPassword = document.getElementById('show-password');

    showPassword.addEventListener('click', () => {
        const passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            setTimeout(() => {
                passwordInput.type = 'password';
            }, 7000)
        }
    });
</script>

{% endblock %}