{% extends 'base.html.twig' %}

{% block title %}Who Can Play ?{% endblock %}

{% block meta %}Who Can Play provides accessibility features for games. A community website for disabled gamers.{% endblock %}

{% block body %}

{% include 'includes/_flash_messages.html.twig' %}

{# En-tête #}
<div class="w-full">
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">What is Who Can Play ?</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
        <p class="text-black dark:text-white pb-5"><strong>Who Can Play</strong> is an initiative born of an end-of-study project aimed at democratizing access to video games for people with disabilities. The project is based on a community platform whose very essence depends on the active involvement of <span class="underline">its users</span>.</p>
        <p class="text-black dark:text-white pb-5">At present, video game distribution platforms <span class="underline">do not</span> mention accessibility features in their product descriptions. It was to fill this gap that I developed this application, enabling users to contribute directly to improving accessibility.</p>
        <p class="text-black dark:text-white">Know of an accessibility feature in a game ? Share it on <strong>Who Can Play</strong> ! Your contribution will enrich the database and highlight these essential features. Together, <strong>we can promote greater inclusion</strong> of people with disabilities in the gaming world.</p>
    </div>
</div>

{# Derniers jeux ajoutés #}
<div>
    <div class="flex justify-between items-end">
        <h2 class="text-2xl dark:text-white font-raleway font-bold pr-3 pt-5">Latest games added</h2>
        <button aria-label="Go to forum button">
            <a href="{{ path('app_games') }}" class="text-indigo-800 border border-indigo-800 dark:text-indigo-200 dark:border-indigo-200 hover:bg-indigo-800 hover:text-white dark:hover:bg-indigo-200 dark:hover:text-black dark:hover:border-indigo-200 font-bold py-2 px-6 gap-2 rounded inline-flex items-center">
                <span>
                    See all games
                </span>
                <svg class="w-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6 ml-2" aria-label="Go to forum icon">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </button>
    </div>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div id="game-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-5">
        {% for game in games %}
        <div id="game-card" class="rounded-xl overflow-hidden flex flex-col bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <div class="relative">
                <a href="{{ path('show_game', {'id': game.db.id, 'slug':game.db.slug}) }}">
                    <img loading="lazy" src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ game.api.cover.image_id }}.jpg" alt="{{ game.api.name }}" class="w-full object-cover">
                    <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                </a>
            </div>
            <div class="px-6 py-4 mb-auto">
                <a href="{{ path('show_game', {'id': game.db.id, 'slug':game.db.slug}) }}" class="text-black dark:text-white font-bold">{{ game.api.name }}</a>
                <p class="text-gray-500 dark:text-white text-sm line-clamp-3">{{ game.api.summary }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# Dernières fonctionnalités ajoutées #}
<div>
    <div class="flex justify-between items-end">
        <h2 class="text-2xl dark:text-white font-raleway font-bold pr-3 pt-5">Latest features added</h2>
    </div>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div id="feature-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-5">
        {% for feature in features %}
        <div id="feature-card" class="rounded-xl overflow-hidden flex flex-col bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <div class="relative">
                <a href="{{ path('show_game', {'id': feature.game.id, 'slug':feature.game.slug}) }}">
                    {% set firstImage = false %}
                    {% for image in feature.images %}
                    {% if not firstImage %}
                    <img loading="lazy" src="{{ asset('assets/uploads/features/' ~ image.url) }}" alt="{{ image.title }}" class="w-full h-max-[300px] md:w-[350px] md:h-[200px] object-cover">
                    <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                    {% set firstImage = true %}
                    {% endif %}
                    {% endfor %}
                </a>
            </div>
            <div class="px-6 py-4 mb-auto">
                <a href="{{ path('show_game', {'id': feature.game.id, 'slug':feature.game.slug}) }}" class="text-black dark:text-white font-bold">{{ feature }}</a>
                <p class="text-gray-500 dark:text-white text-sm line-clamp-3">{{ feature.content|raw }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}