{% extends 'base.html.twig' %}

{% block title %}Who Can Play ?{% endblock %}

{% block body %}

{# En-tête #}
<div class="w-full">
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">What is Who Can Play ?</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
        <p class="text-black dark:text-white pb-5"><strong>Who Can Play</strong> is an initiative born of an end-of-study project aimed at democratizing access to video games for people with disabilities. The project is based on a community platform whose very essence depends on the active involvement of <span class="underline"></span>its users</span>.</p>
        <p class="text-black dark:text-white pb-5">At present, video game distribution platforms <span class="underline">do not</span> mention accessibility features in their product descriptions. It was to fill this gap that I developed this application, enabling users to contribute directly to improving accessibility.</p>
        <p class="text-black dark:text-white">Know of an accessibility feature in a game ? Share it on <strong>Who Can Play</strong> ! Your contribution will enrich the database and highlight these essential features. Together, <strong>we can promote greater inclusion</strong> of people with disabilities in the gaming world.</p>
    </div>
</div>

<style>
    .flash-notice {
        background-color: #e7f3fe;
        color: #31708f;
        padding: 10px;
        border: 1px solid #bce8f1;
        border-radius: 5px;
        margin: 10px 0;
    }
    
    .flash-error {
        background-color: #f2dede;
        color: #a94442;
        padding: 10px;
        border: 1px solid #ebccd1;
        border-radius: 5px;
        margin: 10px 0;
    }
    
    .flash-success {
        background-color: #dff0d8;
        color: #3c763d;
        padding: 10px;
        border: 1px solid #d6e9c6;
        border-radius: 5px;
        margin: 10px 0;
    }
</style>

{% for label, messages in app.flashes %}
<div class="flash-{{ label }}">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endfor %}

{# Derniers jeux ajoutés #}
<div>
    <div class="flex justify-between items-end">
        <h2 class="text-2xl dark:text-white font-raleway font-bold pr-3 pt-5">Latest games added</h2>
        <a href="{{ path('app_games') }}" class="text-black dark:text-white">See All</a>
    </div>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div id="game-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-5">
        {% for game in games %}
        <div id="game-card" class="rounded-xl overflow-hidden flex flex-col bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <div class="relative">
                <a href="{{ path('show_game', {'id': game.db.id, 'slug':game.db.slug}) }}">
                    <img loading="lazy" src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ game.api.cover.image_id }}.jpg" alt="{{ game.api.name }}">
                    <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                </a>
            </div>
            <div class="px-6 py-4 mb-auto">
                <a href="{{ path('show_game', {'id': game.db.id, 'slug':game.db.slug}) }}" class="text-black dark:text-white font-bold">{{ game.api.name }}</a>
                <p class="text-gray-500 dark:text-white text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# Dernières fonctionnalités ajoutées #}
<div>
    <div class="flex justify-between items-end">
        <h2 class="text-2xl dark:text-white font-raleway font-bold pr-3 pt-5">Latest features added</h2>
    </div>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div id="feature-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mt-5">
        {% for feature in features %}
        <div id="feature-card" class="rounded-xl overflow-hidden flex flex-col bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <div class="relative">
                <a href="{{ path('show_game', {'id': feature.game.id, 'slug':feature.game.slug}) }}">
                    {% set firstImage = false %}
                    {% for image in feature.images %}
                    {% if not firstImage %}
                    <img loading="lazy" src="{{ asset('assets/uploads/features/' ~ image.url) }}" alt="{{ image.title }}" class="object-fill">
                    <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                    {% set firstImage = true %}
                    {% endif %}
                    {% endfor %}
                </a>
            </div>
            <div class="px-6 py-4 mb-auto">
                <a href="{{ path('show_game', {'id': feature.game.id, 'slug':feature.game.slug}) }}" class="text-black dark:text-white font-bold">{{ feature }}</a>
                <p class="text-gray-500 dark:text-white text-sm">{{ feature.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="alert-additional-content-1" class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
    <div class="flex items-center">
        <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium">This is a info alert</h3>
    </div>
    <div class="mt-2 mb-4 text-sm">
        More info about this info alert goes here. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
    </div>
    <div class="flex">
        <button type="button" class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="me-2 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
            </svg>
            View more
        </button>
        <button type="button" class="text-blue-800 bg-transparent border border-blue-800 hover:bg-blue-900 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:hover:bg-blue-600 dark:border-blue-600 dark:text-blue-400 dark:hover:text-white dark:focus:ring-blue-800" data-dismiss-target="#alert-additional-content-1" aria-label="Close">
            Dismiss
        </button>
    </div>
</div>

<script>
    const alertAdditionalContent = document.getElementById('alert-additional-content-1');
    const dismissButton = alertAdditionalContent.querySelector('[data-dismiss-target="#alert-additional-content-1"]');
    dismissButton.addEventListener('click', () => {
        alertAdditionalContent.remove();
    });

    setTimeout(() => {
        alertAdditionalContent.remove();
    }, 5000);
</script>

{# <button id="open-button">Open</button>

<dialog id="modal">
    <h2>Ceci est un test</h2>
    <p>Test</p>
    <button id="close-button">Close</button>
</dialog> #}

{% endblock %}