{% extends 'base.html.twig' %}

{% block title %}Site Map{% endblock %}

{% block body %}

<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li aria-current="Site Map">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">Site Map</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

<div>
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">Site Map</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
        <p class="text-black dark:text-white pb-5">
            To make navigating our website as seamless as possible, we've designed three different types of sitemaps tailored to your needs :
        </p>
        <ul class="text-black dark:text-white mb-5">
            <li class="mb-2">
                <strong>HTML Sitemap</strong> <br />
                Our HTML sitemap is a user-friendly, clickable list that displays all the key pages of the "Who Can Play?" website. This version is perfect for those who prefer to browse and explore the site structure directly through links. It’s an ideal tool for quickly finding the specific sections or content you're looking for without navigating through menus.
            </li>
            <li class="mb-2">
                <strong>Flat Sitemap</strong> <br />
                The flat sitemap is a comprehensive, text-based outline of the website’s structure. It presents a straightforward, hierarchical view of all pages and subpages. This version is especially useful for those who prefer a simple, no-frills overview of the site’s organization. It’s also great for understanding the depth and breadth of content available on "Who Can Play?".
            </li>
            <li class="mb-2">
                <strong>Visual Sitemap</strong> <br />
                For a more interactive and visually engaging experience, our visual sitemap offers a graphical representation of the website’s layout. This version helps you see the relationships between different pages and sections, making it easier to understand how the site is organized at a glance. It’s an excellent resource for visual learners and anyone looking to grasp the overall structure of "Who Can Play?" quickly.
            </li>
        </ul>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">HTML Version</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div class="px-5 py-5">
                <ul class="text-slate-700 text-sm leading-6">
                    {# Home #}
                    <li>
                        <ul>
                            <a href="{{ path('app_home') }}" class="block py-1 font-bold text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">Home</a>
                            <li class="ml-4">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Sign Up
                                </p>
                            </li>
                            <li class="ml-4">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Sign In
                                </p>
                            </li>
                            <li class="ml-4">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Profile
                                </p>
                            </li>
                            <li class="ml-8">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Account
                                </p>
                            </li>
                            <li class="ml-8">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Submitted features
                                </p>
                            </li>
                        </ul>
                    </li>

                    {# About #}
                    <li>
                        <ul>
                            <span class="block py-1 font-bold text-black dark:text-white">About</span>
                            <li class="ml-4">
                                <a href="{{ path('app_sitemap') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Site Map
                                </a>
                            </li>
                            <li class="ml-4">
                                <a href="{{ path('app_help') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Help
                                </a>
                            </li>
                            <li class="ml-4">
                                <a href="{{ path('app_contact') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Contact
                                </a>
                            </li>
                            <li class="ml-4">
                                <a href="{{ path('app_accessibility_statement') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Accessibility Statement
                                </a>
                            </li>
                            <li class="ml-4">
                                <a href="{{ path('app_terms_and_conditions') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Terms & Conditions
                                </a>
                            </li>
                            <li class="ml-4">
                                <a href="{{ path('app_privacy_policy') }}" class="group flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </li>

                    {# Games #}
                    <li>
                        <a href="{{ path('app_games') }}" class="block py-1 font-bold text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">Games</a>
                        <ul>
                            <li class="ml-4">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Game informations
                                </p>
                            </li>
                            <li class="ml-8">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Forum of the game
                                </p>
                            </li>
                            <li class="ml-12">
                                <p class="group select-none flex items-start py-1 hover:text-indigo-800 dark:hover:text-indigo-200 text-black dark:text-white">
                                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible">
                                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>Topics of the forum
                                </p>
                            </li>
                        </ul>
                    </li>

                    {# F.A.Q. #}
                    <li>
                        <a href="{{ path('app_faq') }}" class="block py-1 font-bold text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">F.A.Q.</a>
                    </li>
                    
                    {# Make a submission #}
                    <li>
                        <a href="{{ path('app_feature') }}" class="block py-1 font-bold text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">Make a submission</a>
                    </li>

                </ul>
            </div>
        </details>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl mb-5">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">Flat Version</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div id="flat">
                <pre>
                    <code class="text-black dark:text-white">
                        Who Can Play ?
                        ├─ Home
                        │ ├─ Sign Up
                        │ ├─ Sign In
                        │ └─ Profile
                        │ │ └─ Account
                        │ │ └─ Submitted features
                        ├─ About
                        │ ├─ Site Map
                        │ ├─ Help
                        │ ├─ Contact
                        │ ├─ Accessibility Statement
                        │ ├─ Terms & Conditions
                        │ └─ Privacy Policy
                        ├─ Games
                        │ └─ Game informations
                        │ │ └─ Forum of the game
                        │ │ │ └─ Topics of the forum
                        ├─ F.A.Q.
                        └─ Make a submission
                    </code>
                </pre>
            </div>
        </details>

        <details class="group bg-neutral-200 dark:bg-zinc-700 border rounded-xl">
            <summary class="flex justify-between items-center font-bold cursor-pointer list-none py-5 px-5 gap-3">
                <span class="text-black dark:text-white underline">Visual Version</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="white" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                        <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
            </summary>
            <div>
                <img src="img/sitemap/sitemap.webp" alt="Sitemap of Who Can Play">
            </div>
        </details>

    </div>
</div>

{% endblock %}