{% extends 'admin/_base.html.twig' %}

{% block title %}Details Game{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<h1 class="text-3xl text-black dark:text-white font-raleway font-bold">Details Game N°{{ game.id }}</h1>
<hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
<div class="text-black dark:text-white rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
    <div>
        <ul>
            <li class="my-3"><strong>ID</strong> : {{ game.id }}</li>
            <li class="my-3"><strong>ID API</strong> : {{ game.idGameApi }}</li>
            <li class="my-3"><strong>Status</strong> : {{ game.status }}</li>
            <li class="my-3"><strong>Slug</strong> : {{ game.slug }}</li>
        </ul>
    </div>
</div>

{% endblock %}