{% extends 'base.html.twig' %}

{% block title %}Hello FeatureController!{% endblock %}

{% block body %}

{% if edit %}
<h1>Edit feature</h1>
{% else %}
<h1>Send a feature to a game</h1>
{% endif %}

{{ form_start(formSendFeatureToGame) }}

{# {{ form_row(formSendFeatureToGame.id_game_api) }} #}

{{ form_row(formSendFeatureToGame.Disability) }}

{{ form_row(formSendFeatureToGame.name) }}

{{ form_row(formSendFeatureToGame.content) }}

{{ form_row(formSendFeatureToGame.submit) }}

{{ form_end(formSendFeatureToGame) }}

{% endblock %}