{% extends 'admin/_base.html.twig' %}

{% block title %}Show Users{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<section id="tab1" class="w-full px-10 py-10">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table id="dataTable1" class="w-full text-sm text-left rtl:text-right text-black dark:text-white stripe hover row-border order-column" style="width:100%">
            <thead class="text-xs uppercase text-white dark:text-black bg-indigo-800 dark:bg-indigo-200">
                <tr>
                    <th scope="col" class="px-6 py-3">ID</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Roles</th>
                    <th scope="col" class="px-6 py-3">Pseudo</th>
                    <th scope="col" class="px-6 py-3">Is Banned</th>
                    <th scope="col" class="px-6 py-3">Is Verified</th>
                    <th scope="col" class="px-6 py-3">Google User</th>
                    <th scope="col" class="px-6 py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="fill-white dark:fill-black">
                            <path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="group cursor-pointer" data-href="{{ path('app_user_profile', {'pseudo' : user.pseudo }) }}">
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200 font-bold">{{ user.id }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ user.email }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">
                        {% for role in user.roles %}
                            {% if role == "ROLE_SUPER_ADMIN" %}
                                {% set name = "Super Admin" %}
                            {% elseif role == "ROLE_ADMIN" %}
                                {% set name = "Admin" %}
                            {% elseif role == "ROLE_MODERATOR" %}
                                {% set name = "Moderator" %}
                            {% elseif role == "ROLE_FORUM_MODERATOR" %}
                                {% set name = "Forum Moderator" %}
                            {% else %}
                                {% set name = "User" %}
                            {% endif %}
                                {{ name }}
                        {% endfor %}
                    </td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ user.pseudo }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ user.isBanned ? 'Yes' : 'No' }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ user.googleUser ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4 text-gray-500 dark:text-gray-400">
                        <div class="flex justify-between items-center">
                            
                            {# Ban user #}
                            {% if user.isBanned == false %}
                            <form action="{{ path('app_admin_user_ban', {'id': user.id, 'secret': admin_secret}) }}">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="20" height="20" class="fill-black dark:fill-white">
                                        <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L353.3 251.6C407.9 237 448 187.2 448 128C448 57.3 390.7 0 320 0C250.2 0 193.5 55.8 192 125.2L38.8 5.1zM264.3 304.3C170.5 309.4 96 387.2 96 482.3c0 16.4 13.3 29.7 29.7 29.7l388.6 0c3.9 0 7.6-.7 11-2.1l-261-205.6z"/>
                                    </svg>
                                </button>
                            </form>
                            {% else %}
                            {# Unban user #}
                            <form action="{{ path('app_admin_user_unban', {'id': user.id, 'secret': admin_secret}) }}">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="20" height="20" class="fill-black dark:fill-white">
                                        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                    </svg>
                                </button>
                            </form>
                            {% endif %}

                            {# Delete user #}
                            <form>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20" height="20" class="fill-black dark:fill-white">
                                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.8/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function () {
        const table = $('#dataTable1').DataTable({
            responsive: true
        });
    })
</script>

<script src="{{ asset('js/tables.js') }}"></script>

{% endblock %}