{% extends 'base.html.twig' %}

{% block title %}{{ gameApi[0]["name"] }}{% endblock %}

{% block meta %}Here you can view the different accessibility options of the game : {{ gameApi[0]["name"] }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

{# Breadcrumb #}
<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <a href="{{ path('app_games') }}" class="ms-1 md:ms-2 text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">Games</a>
            </div>
        </li>
        <li aria-current="{{ gameApi[0]['name'] }}">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">{{ game.slug|replace({'-': ' '})|title_with_roman }}</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

{# Main #}
<div class="flex flex-col md:flex-row w-full gap-[20px]">

    {# Section principale #}
    <section id="primary" class="basis-0 min-w-[70%] max-w-[50rem]">
        {# En-tête du jeu #}
        <article class="relative bg-white dark:bg-neutral-800 flex flex-col sm:flex-row mb-5 rounded-xl py-5 text-black dark:text-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <header class="mx-5 mb-5 sm:mb-0 shrink-0">
                <figure class="grid justify-center text-center" aria-label="Cover of {{ gameApi[0]['name'] }}">
                    <img loading="lazy" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ gameApi[0].cover.image_id }}.webp" alt="Cover of {{ gameApi[0]['name'] }}" class="rounded-xl">
                </figure>
            </header>

            {# Informations du jeu #}
            <div id="game__info" class="flex flex-col pl-5 pr-5 sm:pl-0">
                {# Nom #}
                <h1 class="text-center sm:text-left text-3xl pb-5 sm:pt-5 text-indigo-800 dark:text-indigo-200 font-raleway font-bold">
                    {{ gameApi[0]["name"] }}
                </h1>

                {# Developpeurs #}
                <h2>
                    <strong>Developer</strong> :
                    {% for developer in gameApi[0].developers %}
                    <span class="underline">{{ developer }}{% if not loop.last %}</span><span> |</span> {% endif %}
                    {% endfor %}
                </h2>

                {# Genres #}
                <h2>
                    <strong>Genres</strong> :
                    {% for genre in gameApi[0].genres %}
                    <span class="underline">{{ genre.name }}{% if not loop.last %}</span><span> |</span> {% endif %}
                    {% endfor %}
                </h2>

                {# Platformes #}
                <h2 class="pb-10">
                    <strong>Platforms</strong> :
                    {% for platform in gameApi[0].platforms %}
                    <span class="underline">{{ platform.name }}{% if not loop.last %}</span><span> |</span> {% endif %}
                    {% endfor %}
                </h2>

                {# Handicaps #}
                <div class="absolute flex gap-3 bottom-5 right-0 pr-5">
                    {% for disability in featuresByDisability %}
                    <img loading="lazy" src="{{ asset(disability[0].icon) }}" alt="{{ disability[0].disabilityName }}" aria-label="{{ disability[0].disabilityName }}" title="{{ disability[0].disabilityName }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
                    {% endfor %}
                </div>
            </div>
        </article>

        {# Informations disabilities #}
        <div class="tab-section rounded-lg p-2 mb-5 w-full bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
            <nav aria-label="Game Information Tabs">
                <div class="flex flex-col lg:flex-row justify-center items-center text-sm">
                    {% set disabilityNames = featuresByDisability|keys %}
                    {% for i in 0..(disabilityNames|length - 1) %}
                    {% set disability = disabilityNames[i] %}
                    <button class="flex items-center w-full px-2 py-2 font-medium text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200" data-tab-target="#tab{{ i + 1 }}" aria-label="{{ disability }}">
                        <div class="flex flex-row items-center gap-2 text-left">
                            <img loading="lazy" src="{{ asset(featuresByDisability[disability][0].icon) }}" alt="{{ disability }}" title="{{ disability }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
                            <span>{{ disability }}</span>
                        </div>
                    </button>
                    {% endfor %}
                </div>
            </nav>

            {# Récupération des clés du tableau featuresByDisability #}
            {% set disabilityNames = featuresByDisability|keys %}

            {# Tab Disabilities #}
            <div class="tab-contents">
                {% for i in 0..(disabilityNames|length -1) %} {# Boucle sur les clés du tableau featuresByDisability #}
                {% set disability = disabilityNames[i] %} {# Récupération de la clé #}
                <div id="tab{{ i+1 }}" class="w-full tab-content hidden px-5 mt-5 py-5">
                    <article id="disability">
                        <header class="flex gap-3" aria-label="Disability name and icon header">
                            <img loading="lazy" src="{{ asset(featuresByDisability[disability][0].icon) }}" alt="{{ disability }}" title="{{ disability }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
                            <h2 class="text-xl sm:text-2xl fond-bold dark:text-white">{{ disability }}</h2>
                        </header>

                        <hr class="my-3 border-t-2 w-full border-amber-800 dark:border-yellow-200" />

                        <ul id="feature-list">
                            {% for feature in featuresByDisability[disability] %} {# Boucle sur les valeurs du tableau featuresByDisability #}
                            <li id="feature" class="mb-5 relative">
                                <h3 class="text-xl font-bold pb-2 dark:text-white">{{ feature.name }} <span class="text-sm">({{ feature.id }}#)</span></h3>
                                <span class="hidden sm:block absolute text-sm italic top-0 right-0 text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                                    <a href="{{ path('app_user_profile', {'pseudo': feature.user} )}}">by {{ feature.user }}</a>
                                </span>
                                <div class="sm:hidden mb-2">
                                    <span class="text-sm italic text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                                        <a href="{{ path('app_user_profile', {'pseudo': feature.user} )}}">by {{ feature.user }}</a>
                                    </span>
                                </div>
                                <div id="feature-content" class="dark:text-white break-words">
                                    {{ feature.content|raw }}
                                </div>

                                {% if feature.images is not empty %}
                                <div class="my-3 w-full">
                                    <h4 class="text-md font-bold pb-2 text-black dark:text-white">Content image(s) :</h4>
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            {% for image in feature.images %}
                                            <div class="swiper-slide">
                                                <div class="swiper-zoom-container" data-swiper-zoom="5">
                                                    <img loading="lazy" class="w-full h-full object-contain lg:object-none" src="{{ asset('assets/uploads/features/' ~ image.url) }}" alt="{{ image.altText }}">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-scrollbar"></div>
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>

                    </article>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    {# Section secondaire #}
    <aside id="secondary" class="basis-0 min-w-[100%] sm:min-w-[30%] sm:basis-3/12 pr-5 space-y-5">
        <div id="forum">
            <div class="flex justify-between items-center">
                <h2 class="text-left md:text-left text-2xl dark:text-white font-raleway font-bold pr-3">Forum</h2>
                <button aria-label="Go to forum button">
                    <a href="{{ path('forum_game', {'id': game.id, 'slug':game.slug}) }}" class="text-indigo-800 border border-indigo-800 dark:text-indigo-200 dark:border-indigo-200 hover:bg-indigo-800 hover:text-white dark:hover:bg-indigo-200 dark:hover:text-black dark:hover:border-indigo-200 font-bold py-2 px-6 gap-2 rounded inline-flex items-center">
                        <span>
                            Go to forum
                        </span>
                        <svg class="w-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6 ml-2" aria-label="Go to forum icon">
                            <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </a>
                </button>
            </div>
            <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
            <div class="flex flex-col text-black dark:text-white">
                {% if game.topics|length > 0 %}
                <h3 class="mb-2 italic text-sm">Last 5 topics :</h3>
                <table>
                    <thead class="text-left">
                        <tr>
                            <th>Title</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for topic in game.topics|slice(-5) %}
                        <tr>
                            <td>
                                <a href="{{ path('topic_game', {'id': topic.id, 'slug':topic.slug}) }}" class="text-gray-800 text-sm hover:text-indigo-800 dark:text-gray-200 dark:hover:text-indigo-200">{{ topic.title }}</a>
                            </td>
                            <td>
                                {% if topic.user %}
                                <a href="{{ path('app_user_profile', {'pseudo' : topic.user.pseudo}) }}" class="text-gray-800 text-sm hover:text-indigo-800 dark:text-gray-200 dark:hover:text-indigo-200">{{ topic.user }}</a>
                                {% else %}
                                <p class="text-gray-800 text-sm dark:text-gray-200">Deleted user</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No topics yet.</p>
                {% endif %}
            </div>
        </div>
        <div id="medias">
            <div class="flex justify-between items-center">
                <h2 class="text-left md:text-left text-2xl dark:text-white font-raleway font-bold pr-3">Follow us</h2>
            </div>
            <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
            <div class="flex justify-around">
                <a class="hover:scale-110" target="_blank" href="https://facebook.com/WhoCanPlay" aria-label="Facebook">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="Facebook icon">
                        <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z" />
                    </svg>
                </a>
                <a class="hover:scale-110" target="_blank" href="https://instagram.com/WhoCanPlay" aria-label="Instagram">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-label="Instagram icon">
                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                    </svg>
                </a>
                <a class="hover:scale-110" target="_blank" href="https://x.com/WhoCanPlay" aria-label="X (Twitter)">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="X (Twitter) icon">
                        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                    </svg>
                </a>
                <a class="hover:scale-110" target="_blank" href="https://youtube.com/@WhoCanPlay" aria-label="YouTube">
                    <svg class="fill-indigo-800 dark:fill-indigo-200" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-label="Youtube Icon">
                        <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z" />
                    </svg>
                </a>
            </div>
        </div>
    </aside>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ asset('js/swiper.js') }}"></script>
<script src="{{ asset('js/tabs.js') }}"></script>
{% endblock %}