{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

{{ dump(game) }}

<div class="flex flex-col md:flex-row w-full gap-[20px]">

    <section id="primary" class="bg-red-500 basis-0 min-w-[70%] max-w-[50rem]">
        <div></div>
        <figure class="">
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ gameApi[0].cover.image_id }}.jpg" alt="Cover of {{ gameApi[0]['name'] }}">
        </figure>
        
        <p>Nom : {{ gameApi[0]["name"] }}</p>
        
        {% for genre in gameApi[0].genres %}
        <p>Genres : {{ genre.name }}</p>
        {% endfor %}
        
        <h2>Infos de ma BDD :</h2>
        
        {# Boucle pour récupérer et trier les features par disabililty sans doublons #}
        {% for disability, features in featuresByDisability %}
        
        <h2>{{ disability }}</h2>
        
        {% for feature in features %}
        
        <div>
            <h3>{{ feature.featureName }}</h3>
        </div>
        
        <div>
            {{ feature.content }}
        </div>
        
        {% endfor %}
        
        {% endfor %}
        
    </section>
    
    <section id="secondary" class="hidden sm:block bg-blue-500 basis-0 min-w-[100%] md:min-w-[30%] md:basis-3/12">
        <div>
            <a href="{{ path('forum_game', {'id': game.id, 'slug':game.slug}) }}">Forum</a>
        </div>
    </section>

</div>

{% endblock %}