{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<article id="topic">
    <header>
        <h1>{{ topic.title }}</h1>
    </header>

    <section id="posts">
        {% for post in posts %}
        <article id="post">
            <header>
                <p id="username">{{ post.user.pseudo }}</p>
                <time datetime="{{ post.publicationDate|date('c') }}">
                    {{ post.publicationDate|date('d/m/y H:i:s') }}
                </time>
            </header>
            <div id="post-content">
                {# Utilisation de |raw pour afficher le contenu traité par un éditeur WYSIWYG #}
                {# ! Attention à bien sécuriser le contenu pour éviter les failles XSS #}
                {# chaque form sera recup avec postToEdit puis le form voulu sera selectionné avac la class qui utilise l'id #}
                <form id="{{ post.id }}" class="postToEdit">
                    <input class="post-content" value="{{ post.content|raw }}" type="text" disabled>
                    <button class="edit-post" type="button" class="edit-post"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button type="submit"><i class="fa-solid fa-check"></i></button>
                </form>
                {% if post.updatedAt %}
                    <p>Modifié le : {{ post.updatedAt|date('d/m/y H:i:s') }}</p>
                {% endif %}
            </div>
        </article>

        <br>
        <br>
        <br>

        {% endfor %}
    </section>

    <section id="reply-form">
        {{ form_start(formAddPost) }}

        {{ form_row(formAddPost.content) }}

        {{ form_row(formAddPost.submit) }}

        {{ form_end(formAddPost) }}
    </section>
</article>

<script>

</script>
{# <script src="{{ asset('js/ajax.js') }}"></script> #}

{% endblock %}