{% extends 'admin/_base.html.twig' %}

{% block title %}Show Disabilities{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<section id="tab1" class="w-full px-10 py-10">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table id="dataTable1" class="w-full text-sm text-left rtl:text-right text-black dark:text-white stripe hover row-border order-column" style="width:100%">
            <thead class="text-xs uppercase text-white dark:text-black bg-indigo-800 dark:bg-indigo-200">
                <tr>
                    <th scope="col" class="px-6 py-3">ID</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Icon</th>
                    <th scope="col" class="px-6 py-3">Slug</th>
                    <th scope="col" class="px-6 py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="fill-white dark:fill-black">
                            <path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for disability in disabilities %}
                <tr class="group cursor-pointer" data-href="{{ path('app_admin_disability_details', {'id': disability.id, 'secret': admin_secret}) }}">
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200 font-bold">{{ disability.id }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ disability.name }}</td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">
                        <div class="flex gap-5">
                            <img class="dark:invert dark:brightness-0 dark:filter" loading="lazy" src="{{ asset(disability.icon) }}" alt="{{ disability.name }}" width="20" height="20" title="{{ disability.name }}">
                            {{ disability.icon }}
                        </div>
                    </td>
                    <td scope="row" class="px-6 py-4 text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200">{{ disability.slug }}</td>
                    <td scope="row" class="px-6 py-4 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center">
                            <button>
                                <a href="{{ path('app_admin_disability_edit', {'id': disability.id, 'secret': admin_secret}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" class="fill-black dark:fill-white">
                                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" />
                                    </svg>
                                </a>
                            </button>
                            <form action="{{ path('app_admin_disability_delete', {'id': disability.id, 'secret': admin_secret}) }}">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20" height="20" class="fill-black dark:fill-white">
                                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.8/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function () {
        const table = $('#dataTable1').DataTable({
            responsive: true
        });
    })
</script>

<script src="{{ asset('js/tables.js') }}"></script>
{% endblock %}