{% extends 'admin/index.html.twig' %}

{% block title %}Details Feature{% endblock %}

{% block bodyAdmin %}

{% include 'includes/_flash_messages.html.twig' %}

<h1 class="text-3xl text-black dark:text-white font-raleway font-bold">Details Feature N°{{ feature.id }}</h1>
<hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
<div class="text-black dark:text-white rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
    <div>
        <ul>
            <li class="my-3"><strong>ID</strong> : {{ feature.id }}</li>
            <li class="my-3"><strong>Disability ID</strong> : {{ feature.disability }}</li>
            <li class="my-3"><strong>Game ID</strong> : {{ feature.game.id|default('N/A') }}</li>
            <li class="my-3"><strong>User</strong> : {{ feature.user }}</li>
            <li class="my-3"><strong>ID API</strong> : {{ feature.idGameApi }}</li>
            <li class="my-3"><strong>Name</strong> : {{ feature.name }}</li>
            <li class="my-3"><strong>Content</strong> : {{ feature.content|raw }}</li>
            <li class="my-3"><strong>State</strong> : {{ feature.state.value }}</li>
            <li class="my-3"><strong>Submission date</strong> : {{ feature.submissionDate|date('d.m.Y') }}</li>
            <li class="my-3"><strong>Slug</strong> : {{ feature.slug }}</li>
            <li class="my-3"><strong>Updated at</strong> : {{ feature.updatedAt|date('d.m.Y') }}</li>
            <li class="my-3"><strong>Image(s)</strong> : {% for image in feature.images %}<img loading="lazy" class="my-3" src="{{ asset('assets/uploads/features/' ~ image.url ) }}" alt="">{% endfor %}</li>
        </ul>
    </div>
</div>

{% endblock %}