{% extends 'base.html.twig' %}

{% block title %}Hello ModeratorController!{% endblock %}

{% block body %}

{{ dump(subtypes) }}

{# Not Opened Subtypes  #}
<div>
    <h1>Not Opened</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if subtypes.notOpened %}

                {% for subtypeData in subtypes.notOpened %}
                {% set subtype = subtypeData.subtype %}
                {% set game = subtypeData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': subtype.id}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ subtype.user }}</td>
                    <td class="px-6 py-4">{{ game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ subtype.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ subtype.disability.icon }}" alt="{{ subtype.disability.name }}" title="{{ subtype.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No subtype found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Pending Subtypes  #}
<div>
    <h1>Pending</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if subtypes.pending %}

                {% for subtypeData in subtypes.pending %}
                {% set subtype = subtypeData.subtype %}
                {% set game = subtypeData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': subtype.id}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ subtype.user }}</td>
                    <td class="px-6 py-4">{{ game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ subtype.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ subtype.disability.icon }}" alt="{{ subtype.disability.name }}" title="{{ subtype.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No subtype found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Accepted Subtypes  #}
<div>
    <h1>Accepted</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if subtypes.processed %}

                {% for subtypeData in subtypes.processed %}
                {% set subtype = subtypeData.subtype %}
                {% set game = subtypeData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': subtype.id}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ subtype.user }}</td>
                    <td class="px-6 py-4">{{ game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ subtype.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ subtype.disability.icon }}" alt="{{ subtype.disability.name }}" title="{{ subtype.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No subtype found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Denied Subtypes  #}
<div>
    <h1>Denied</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if subtypes.denied %}

                {% for subtypeData in subtypes.denied %}
                {% set subtype = subtypeData.subtype %}
                {% set game = subtypeData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': subtype.id}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ subtype.user }}</td>
                    <td class="px-6 py-4">{{ game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ subtype.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ subtype.disability.icon }}" alt="{{ subtype.disability.name }}" title="{{ subtype.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No subtype found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}