{% extends 'base.html.twig' %}

{% block title %}Hello ModeratorController!{% endblock %}

{% block body %}

{{ dump(features) }}

{# Not Opened Features  #}
<div>
    <h1>Not Opened</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if features.notOpened %}

                {% for featureData in features.notOpened %}
                {% set feature = featureData.feature %}
                {% set game = featureData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': feature.id, 'slug': feature.slug}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ feature.user }}</td>
                    <td class="px-6 py-4">{{ feature.game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ feature.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ feature.disability.icon }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No feature found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Pending Features  #}
<div>
    <h1>Pending</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if features.pending %}

                {% for featureData in features.pending %}
                {% set feature = featureData.feature %}
                {% set game = featureData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': feature.id, 'slug': feature.slug}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ feature.user }}</td>
                    <td class="px-6 py-4">{{ feature.game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ feature.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ feature.disability.icon }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No feature found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Accepted Features  #}
<div>
    <h1>Accepted</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if features.processed %}

                {% for featureData in features.processed %}
                {% set feature = featureData.feature %}
                {% set game = featureData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': feature.id, 'slug': feature.slug}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ feature.user }}</td>
                    <td class="px-6 py-4">{{ feature.game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ feature.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ feature.disability.icon }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No feature found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{# Denied Features  #}
<div>
    <h1>Denied</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Send by</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Game in database</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">State</th>
                    <th scope="col" class="px-6 py-3 w-[20%]">Disability</th>
                </tr>
            </thead>
            <tbody>
                {% if features.denied %}

                {% for featureData in features.denied %}
                {% set feature = featureData.feature %}
                {% set game = featureData.gameApi %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="{{ path('show_moderator', {'id': feature.id, 'slug': feature.slug}) }}">{{ game.name }}</a></th>
                    <td class="px-6 py-4">{{ feature.user }}</td>
                    <td class="px-6 py-4">{{ feature.game ? 'Yes' : 'No' }}</td>
                    <td class="px-6 py-4">{{ feature.state.value }}</td>
                    <td class="px-6 py-4"><img src="{{ feature.disability.icon }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25"></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No feature found.</th>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}