{% extends 'base.html.twig' %}

{% block title %}Request n°{{ feature.id }}{% endblock %}

{% block body %}

<nav class="w-full flex text-sm" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <a href="{{ path('app_moderator') }}" class="ms-1 md:ms-2 text-black dark:text-white hover:text-indigo-800 dark:hover:text-indigo-200">Feature submission</a>
            </div>
        </li>
        <li aria-current="{{ gameApi[0]['name'] }}">
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="ms-1 md:ms-2 text-black dark:text-white underline">{{ feature }}</span>
            </div>
        </li>
    </ol>
</nav>

{% include 'includes/_flash_messages.html.twig' %}

<div class="w-full rounded-xl bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
    {# En-tête #}
    <div class="relative overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5">
        {# Badges #}
        <div>
            {% if feature.state.value == "Pending" %}
            <span class="select-none absolute flex items-center top-0 right-0 mt-8 mr-8 sm:mt-8 sm:mr-8 border border-indigo-800 dark:border-indigo-200 rounded-full px-4 text-sm text-black dark:text-white py-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2 fill-current dark:invert dark:brightness-0 dark:filter" aria-label="State button">
                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                </svg>
                {{ feature.state.value }}
            </span>
            {% elseif feature.state.value == "Processed" %}
            <span class="select-none absolute flex items-center top-0 right-0 mt-8 mr-8 sm:mt-8 sm:mr-8 border border-green-500 rounded-full px-4 text-sm text-black dark:text-white py-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 mr-2 fill-current dark:invert dark:brightness-0 dark:filter">
                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
                {{ feature.state.value }}
            </span>
            {% else %}
            <span class="select-none absolute flex items-center top-0 right-0 mt-8 mr-8 sm:mt-8 sm:mr-8 border border-red-500 rounded-full px-4 text-sm text-black dark:text-white py-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-4 h-4 mr-2 fill-current dark:invert dark:brightness-0 dark:filter">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
                {{ feature.state.value }}
            </span>
            {% endif %}
        </div>
        {# Titre #}
        <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pb-3">Request n°{{ feature.id }} : </h1>
        {# Informations générales feature #}
        <div class="text-black dark:text-white">
            <h2 class="">Game : {{ gameApi[0].name }}</h2>
            <div class="flex gap-3 pb-3">
                <h3>Disability category : {{ feature.disability.name }}</h3>
                <img loading="lazy" src="{{ asset(feature.disability.icon) }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
            </div>
            <div class="flex flex-col sm:flex-row justify-between">
                <div class="flex items-center gap-[10px]">
                    {# TODO : mettre l'image de profil #}
                    <img loading="lazy" src="https://avatar.iran.liara.run/public" alt="{{ feature.user }}'s avatar" class="w-[50px] h-[50px]">
                    <p>FROM {{ feature.user }}</p>
                </div>
                <div class="flex">
                    <p>{{ feature.submissionDate | date('d.m.Y \\a\\t H:i:s') }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="w-full border-t-2 border-amber-800 dark:border-yellow-200" />

    {# Contenu feature #}
    <div class="relative overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5">
        <div class="flex flex-col justify-center items-center sm:items-start">
            {# Edit feature #}
            <div>
                <a href="{{ path('edit_feature', {'id': feature.id, 'slug': feature.slug}) }}" class="group absolute top-0 right-0 mt-8 mr-8 sm:mt-8 sm:mr-8" aria-label="Edit feature link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25" height="25" class="fill-current text-black dark:text-white group-hover:text-indigo-800 dark:group-hover:text-indigo-200" aria-label="Edit feature icon">
                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" />
                    </svg>
                </a>
            </div>

            {# Game #}
            <div class="w-full">
                <h4 class="text-2xl font-bold pb-2 text-black dark:text-white">Game :</h4>
                <div class="flex flex-col justify-center items-center gap-3">
                    <img loading="lazy" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ gameApi[0].cover.image_id }}.jpg" alt="{{ gameApi[0].name }}'s cover" class="rounded-xl">
                    <h5 class="text-2xl font-bold text-indigo-800 dark:text-indigo-200">{{ gameApi[0].name }}</h5>
                </div>
            </div>

            {# Disability #}
            <div class="w-full my-3 text-black dark:text-white">
                <h4 class="text-2xl font-bold pb-2">Disability category :</h4>
                <div class="flex gap-3">
                    <img loading="lazy" src="{{ asset(feature.disability.icon) }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
                    <p>{{ feature.disability.name }}</p>
                </div>
            </div>

            {# Feature titre #}
            <div class="w-full my-3 text-black dark:text-white">
                <h4 class="text-2xl font-bold pb-2">Feature title :</h4>
                <div class="flex gap-3">
                    <img loading="lazy" src="{{ asset(feature.disability.icon) }}" alt="{{ feature.disability.name }}" title="{{ feature.disability.name }}" width="25" height="25" class="dark:invert dark:brightness-0 dark:filter">
                    <p>{{ feature }}</p>
                </div>
            </div>

            {# Feature contenu #}
            <div class="w-full my-3 text-black dark:text-white">
                <h4 class="text-2xl font-bold pb-2">Feature content :</h4>
                <p>{{ feature.content|raw }}</p>
            </div>

            {# Feature image #}
            <div class="my-3 w-full">
                <h4 class="text-2xl font-bold pb-2 text-black dark:text-white">Content image(s) :</h4>
                <!-- Carousel -->
                <div class="relative bg-black/20 dark:bg-black/50 rounded-xl overflow-hidden shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
                    <ul id="slider" class="relative">
                        {% for image in feature.images %}
                        <li class="hidden">
                            <div class="flex flex-col h-[40vh]">
                                <img loading="lazy" class="w-full h-full object-contain lg:object-none" src="{{ asset('assets/uploads/features/' ~ image.url ) }}" alt="">
                                <div class="p-4 bg-white/70 dark:bg-black/70 text-black dark:text-white">
                                    <h5 class="text-xl font-semibold mb-2">{{ image.title }}</h5>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="absolute px-5 flex h-full w-full top-0 left-0">
                        <div class="my-auto w-full flex justify-between">
                            <button id="previous-slide" class="bg-white p-3 rounded-full bg-opacity-80 shadow-lg" aria-label="Previous slide">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6 fill-current" aria-label="Left icon">
                                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                                </svg>
                            </button>
                            <button id="next-slide" class="bg-white p-3 rounded-full bg-opacity-80 shadow-lg" aria-label="Next slide">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6 fill-current" aria-label="Right icon">
                                    <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Boutons de validation ou refus #}
    <div class="flex flex-col sm:flex-row justify-center items-center gap-[20px] my-3">
        {# Validation #}
        {% if feature.state.value in ["Pending", "Denied"] %}
        <button id="open-button-1" class="text-white bg-green-500 hover:bg-green-700 px-10 py-3 cursor-pointer flex items-center rounded-lg ease-in-out duration-300" aria-label="Open validate modal button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 mr-2 fill-current" aria-label="Open validate modal icon">
                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
            </svg>
            Validate
        </button>
        {% endif %}

        {# Refus #}
        {% if feature.state.value in ["Pending", "Processed"] %}
        <button id="open-button-2" class="text-black dark:text-white hover:text-white bg-inherit hover:bg-red-500 border border-red-500 px-10 py-3 cursor-pointer flex items-center rounded-lg ease-in-out duration-300" aria-label="Open denied modal button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-4 h-4 mr-2 fill-current" aria-label="Open denied modal icon">
                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
            Deny
        </button>
        {% endif %}
    </div>
</div>

{# Modals #}
{# Validate #}
<dialog id="validateModal" class="fixed inset-0 z-50 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full">
    <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
        <div class="flex justify-end p-2">
            <button type="button" class="close-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" aria-label="Close validate modal button">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-label="Close validate modal icon">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <div class="p-6 pt-0 text-center">
            <svg class="w-20 h-20 text-green-500 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Warning validate">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">Are you sure you want to validate this feature?</h3>
            <div class="flex justify-center space-x-4">
                <form action="{{ path('validate_feature_moderator', {'id': feature.id, 'slug': feature.slug}) }}">
                    <button type="submit" class="text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2 ease-in-out duration-300" aria-label="Validate feature modal button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 mr-2 fill-current" aria-label="Validate feature modal icon">
                            <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                        </svg>
                        Validate
                    </button>
                </form>
                <button class="close-button text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center" aria-label="Close validate modal button 2">
                    Close
                </button>
            </div>
        </div>
    </div>
</dialog>
{# Deny #}
<dialog id="denyModal" class="fixed inset-0 z-50 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full">
    <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
        <div class="flex justify-end p-2">
            <button type="button" class="close-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" aria-label="Close denied modal button">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-label="Close denied modal icon">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <div class="p-6 pt-0 text-center">
            <svg class="w-20 h-20 text-red-500 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Warning denied">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">Are you sure you want to deny this feature?</h3>
            <div class="flex justify-center space-x-4">
                <form action="{{ path('deny_feature_moderator', {'id': feature.id, 'slug': feature.slug}) }}">
                    <button class="text-white bg-red-500 hover:bg-red-700 px-10 py-3 cursor-pointer flex items-center rounded-lg ease-in-out duration-300" aria-label="Denied feature modal button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-4 h-4 mr-2 fill-current" aria-label="Denied feature modal icon">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                        Deny
                    </button>
                </form>
                <button class="close-button text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center" aria-label="Close denied modal button 2">
                    Close
                </button>
            </div>
        </div>
    </div>
</dialog>

<script src="{{ asset('js/modals.js') }}"></script>
<script>
    // J'attends que le DOM soit chargé
    document.addEventListener('DOMContentLoaded', function () {
        // Je récupère tous les éléments dont j'ai besoin
        let currentSlideId = 1;
        const sliderElement = document.getElementById('slider');
        const slides = sliderElement.getElementsByTagName('li');
        const totalSlides = slides.length;
        const nextButton = document.getElementById('next-slide');
        const previousButton = document.getElementById('previous-slide');

        // Fonction pour afficher la diapositive actuelle
        function showSlide() {
            for (let index = 0; index < totalSlides; index++) {
                const element = slides[index];
                if (currentSlideId === index + 1) {
                    element.classList.remove('hidden');
                } else {
                    element.classList.add('hidden');
                }
            }
        }

        // Fonctions pour passer à la diapositive suivante
        function next() {
            if (currentSlideId < totalSlides) {
                currentSlideId++;
            } else {
                currentSlideId = 1; // Revenir au début si on est à la fin
            }
            showSlide();
        }

        // Fonctions pour passer à la diapositive précédente
        function previous() {
            if (currentSlideId > 1) {
                currentSlideId--;
            } else {
                currentSlideId = totalSlides; // Aller à la dernière diapositive si on est au début
            }
            showSlide();
        }

        // Initialisation de la diapositive au chargement de la page
        showSlide();

        // Ajout des écouteurs d'événements aux boutons
        nextButton.addEventListener('click', next);
        previousButton.addEventListener('click', previous);
    });
</script>

{% endblock %}