{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

{{ dump(subtype) }}

<a href="{{ path('edit_subtype_moderator', {'id': subtype.id, 'slug': subtype.slug}) }}"><i class="fa-solid fa-pen"></i></a>

<h1>Request n°{{ subtype.id }} :</h1>
<h2>
    {# Game {{ game.name }} #}
    Diability category : {{ subtype.disability.name }}
</h2>
<h3>From : {{ subtype.user }} send the : {{ subtype.submissionDate | date('d.m.Y \\a\\t H:i:s') }}</h3>
<br>
<br>

<div>
    <h4>Game</h4>
    {# Game {{ game.name }} #}
    <br>
    <br>

    <h4>Disability category</h4>
    <img src="{{ asset(subtype.disability.icon) }}" alt="{{ subtype.disability.name }}" title="{{ subtype.disability.name }}" width="50" height="50">
    {{ subtype.disability }}
    <br>
    <br>

    <h4>Subtype title</h4>
    {{ subtype }}
    <br>
    <br>

    <h4>Subtype content</h4>
    {{ subtype.content }}
    <br>
    <br>

    <h4>Content image</h4>

    <div>
        {# <a href="{{ path('validate_subtype_moderator', {'id': subtype.id, 'slug': subtype.slug}) }}">qsdqsd</a> #}
        <form action="{{ path('validate_subtype_moderator', {'id': subtype.id, 'slug': subtype.slug}) }}">
            <input type="submit" name="Validate" id="validate" class="bg-green-500 px-3 py-1" value="Validate">
        </form>
        
        {# <form action="{{ path('deny_subtype_moderator') }}">
            <input type="submit" name="Deny" id="deny" class="bg-red-500 px-3 py-1" value="Deny">
        </form> #}
    </div>
</div>

{% endblock %}