<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

</head>

<body>

    <header class="w-full min-h-[75px] flex justify-center items-center border-b-2">
        <nav class="w-full max-w-[1120px] flex justify-between items-center px-[10px]">

            <div class="navLogo">
                <a href="{{ path('app_home') }}">Logo WhoCanPlay</a>
            </div>

            <div class="navLinks">
                <a href="{{ path('app_home') }}">Home</a>
                <a href="{{ path('app_api') }}">Game API</a>
                <a href="{{ path('app_game') }}">My DB</a>
            </div>

            <div class="navAuth">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Sign out</a>
                    <a href="{{ path('app_user') }}">My Profile</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Sign in</a>
                    <a href="{{ path('app_register') }}">Sign up</a>
                {% endif %}
            </div>

            <div class="mobileMenu">

            </div>

        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>

    </footer>

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}
    {% endblock %}

</body>

</html>