<!DOCTYPE html>
<html class="">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}WhoCanPlay{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {# DATATABLES #}
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.8/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" type="text/css">

    {# MY CSS #}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

</head>

<body class="flex flex-col min-h-screen bg-stone-100 dark:bg-zinc-800">

    <header class="w-full min-h-[75px] flex justify-center items-center border-b-2 bg-stone-900">
        <nav class="w-full max-w-[1120px] flex justify-between items-center px-[10px] text-white" aria-label="Site menu">

            <div id="navLogo" class="">
                <a href="{{ path('app_home') }}">Logo WhoCanPlay</a>
            </div>

            <div id="navLinks" class="">
                <a href="{{ path('app_home') }}">Home</a>
                <a href="{{ path('app_game') }}">My DB</a>
                {% if app.user %}
                <a href="{{ path('app_feature') }}">Make a submission</a>
                {% endif %}
                {% if is_granted('ROLE_MODERATOR') %}
                <a href="{{ path('app_moderator') }}">Treatment</a>
                {% endif %}
            </div>

            <div id="navAuth" class="hidden md:flex gap-[24px]">
                {% if app.user %}
                <a href="{{ path('app_logout') }}">Sign out</a>
                <a href="{{ path('app_user') }}">My Profile</a>
                {% else %}
                <a href="{{ path('app_login') }}">Sign in</a>
                <a href="{{ path('app_register') }}">Sign up</a>
                {% endif %}
            </div>

            {# Dark Mode #}
            <div>
                <button id="toggle" class="h-12 w-12 rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg class="fill-sky-600 block dark:hidden" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg class="fill-yellow-500 hidden dark:block" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

        </nav>

        {# <div id="mobileMenu" class="">

            <div class="md:hidden cursor-pointer">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="md:hidden fixed top-0 right-0 w-full h-full bg-white z-50 transition-transform duration-300">
                <button class="absolute top-4 right-4 text-2xl" id="">&times;</button>
                <nav class="flex flex-col items-center mt-16 space-y-4">

                </nav>
            </div>

        </div> #}

    </header>

    <main class="flex justify-center flex-1">
        <div class="w-full max-w-[1120px] flex flex-col items-center gap-[30px] px-[10px] py-[20px]">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer class="mt-auto w-full h-[300px] lg:h-[150px] flex justify-center bg-stone-900 text-white">
        <div
            class="w-full max-w-[1120px] flex flex-col lg:flex-row justify-between items-center px-[10px] py-[20px] lg:py-0 gap-[50px] lg:gap-0">
            <div id="footer__legal" class="flex flex-col-reverse md:flex-row gap-2 items-center">
                <p>&copy; 2024 WhoCanPlay</p>
                <p>Mentions légales</p>
                <p>Politique de confidentialité</p>
            </div>

            <div id="footer__info" class="flex flex-col gap-5">
                <div id="footer__logo">
                    <a href="{{ path('app_home') }}">Logo WhoCanPlay</a>
                </div>

                <div id="footer__socials">
                    <div class="flex justify-between">
                        <p>RS 1</p>
                        <p>RS 2</p>
                        <p>RS 3</p>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    {% block javascripts %}
    {# Jquery #}
    {# TinyMCE #}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script defer>
        tinymce.init({
            selector: 'textarea.tinymce'
        });
    </script>
    {# AJAX #}
    {# DATATABLES #}

    {% block importmap %}
    {{ importmap('app') }}
    {% endblock %}
    {#
    <script src="{{ asset('js/ajax.js') }}"></script> #}
    <script src="{{ asset('js/script.js') }}"></script>

    {% endblock %}

</body>

</html>