{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<h1>Games</h1>

{{ dump(gameDetails) }}

<div class="games">
    {% for game in gameDetails %}
    <div class="game">
        <div class="top">
            <div>
                <h2>{{ game.name }}</h2>

                {# <div class="data">
                    <form action="{{ path('add_game') }}" method="post">
                        <input type="hidden" name="idGameApi" value="{{ game.id }}">
                        <button type="submit">
                            <i class="ri-folder-add-line plus"></i>
                        </button>
                    </form>
                </div> #}

                <p>Id : {{ game.id }}</p>

                {% for genre in game.genres %}
                    {{ genre.name }}
                {% endfor %}
                
                <img value="t_cover_big" src="{{ game.cover.url }}" alt=""> <br>

                {% for screen in game.screenshots %}
                    <a href="{{ screen.url }}"><img src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{ screen.image_id }}.jpg" alt=""></a>
                {% endfor %}

                {# <p>Slug : {{ game.slug }}</p> #}
                {# <p>Summary : {{ game.summary }}</p> #}
                {# <p>Collection : {{ game.collections|join(', ') }}</p> #}
                {# <p>Genres : {{ game.genres | join(', ') }}</p> #}
                {# <p>Genres : {{ game.genres|join(', ') }}</p> #}
                {# <p>Themes : {{ game.keywords|join(', ') }}</p> #}
                {# <p>Age ratings : {{ game.age_ratings|join(', ') }}</p> #}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{# <a href="{{ path('app_game') }}">Back</a> #}

{% endblock %}