{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="w-full">
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">My profile</h1>
    <hr class="my-3 w-full border-t-2 border-amber-800 dark:border-yellow-200" />

    <div class="flex flex-col md:flex-row w-full gap-[20px]">

        {# Section secondaire #}
        <aside id="secondary" class="basis-0 min-w-[100%] sm:min-w-[20%] sm:basis-3/12 pr-5">
            <div id="settings" class="relative bg-white dark:bg-neutral-800 flex flex-col mb-5 rounded-xl px-5 py-5 text-black dark:text-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
                <h3 class=""><a href="{{ path('app_user')}}">General</a></h3>
                <h3 class=""><a href="{{ path('app_user_account')}}">Account</a></h3>
                <h3 class=""><a href="{{ path('app_user_submitted_features')}}">Submitted Features</a></h3>
                <h3 class=""><a href="{{ path('app_user_profile', {'pseudo' : app.user.pseudo }) }}">My public profile</a></h3>
            </div>
        </aside>

        {# Section principale #}
        <section id="primary" class="basis-0 min-w-[80%] max-w-[50rem] pr-5">
            <div class="relative bg-white dark:bg-neutral-800 flex flex-col mb-5 rounded-xl px-5 py-5 text-black dark:text-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
                <div class="text-center">
                    <h2 class="text-2xl fond-bold align">Welcome to your profile {{ app.user.pseudo }}</h2>
                </div>
                <div class="flex flex-col">
                    <span>{{ app.user.pseudo }}</span>
                    <span>{{ app.user.email }}</span>
                </div>

                <div>
                    {{ form_start(formEditUser) }}
                    {{ form_row(formEditUser.pseudo) }}
                    {% if app.user.isGoogleUser == false %}
                        {{ form_row(formEditUser.email) }}
                    {% endif %}
                    {{ form_row(formEditUser.biography) }}
                    {{ form_row(formEditUser.avatar) }}
                    <button type="submit" class="w-full my-2 text-white dark:text-black bg-indigo-800 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-800 dark:bg-indigo-200 dark:hover:bg-indigo-400 dark:focus:ring-indigo-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Edit profile</button>
                    {{ form_end(formEditUser) }}
                </div>

            </div>
        </section>

    </div>

</div>

{% endblock %}