{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="w-full">
    <h1 class="text-3xl text-black dark:text-white font-raleway font-bold pr-3">{{ user }}</h1>
    <hr class="my-3 w-[100%] border-t-2 border-amber-800 dark:border-yellow-200" />
    <div class="rounded-xl overflow-hidden flex flex-col px-8 py-8 sm:px-5 sm:py-5 mt-5 bg-white dark:bg-neutral-800 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">

{{ dump(user) }}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div class="bg-white p-4 rounded-lg shadow">
                <h2 class="text-2xl font-bold text-center">Informations</h2>
                <div class="flex flex-col">
                    <div class="flex gap-5">
                        <span>Topics :</span>
                        <span>{{ user.topics|length }}</span>
                    </div>
                    <div class="flex gap-5">
                        <span>Posts :</span>
                        <span>{{ user.posts|length }}</span>
                    </div>
                </div>
            </div>

            <div class="bg-white p-4 rounded-lg shadow">
                <h2 class="text-2xl font-bold text-center">Activity</h2>
                <div class="flex flex-col">
                    <span>Lasts topics :</span>
                    {% for topic in user.topics|reverse|slice(0, 5) %}
                        <span>{{ topic }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 mt-5">
            <div class="bg-white p-4 rounded-lg shadow">
                <h2 class="text-2xl font-bold text-center">Features requested ({{ user.features|length }}) :</h2>
                {% for feature in user.features|reverse|slice(0,5) %}
                <div class="flex gap-5">
                    <span>{{ feature }}</span>
                    <span>{{ feature.game.slug|replace({'-': ' '})|title }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}