{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<h1>Welcome to your profile {{ app.user.pseudo }} </h1>
<p>{{ app.user.roles | join(', ') }}</p>
<a href="{{ path('app_user_profile', {'pseudo' : app.user.pseudo }) }}">My public profile</a>

{{ form_start(formEditPassword) }}
{{ form_row(formEditPassword.oldPassword) }}
{{ form_row(formEditPassword.plainPassword) }}
<button type="submit">Edit password</button>
{{ form_end(formEditPassword) }}

{% endblock %}
